<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite" >
    <parameter name="browser" value="chrome" />
    
  <test name="Parallel tests" parallel="methods" thread-count="5"> 
        
    <groups>
     <run>
         <include name="grp1"></include>
        
     </run>
    </groups>
    <classes><class name="GoogleHomePage"></class></classes>
  </test> <!-- Default test -->
      <parameter name="browser" value="chrome" />
   <test name="Parallel tests-1" parallel="methods" thread-count="5"> 
      <parameter name="browser" value="chrome"/>
        
    <groups>
     <run>
        
           <include name="grp2"></include>
        
     </run>
    </groups>
    <classes><class name="GoogleHomePage"></class></classes>
  </test> <!-- Default test -->
  
  
</suite> <!-- Default suite -->